<h1>Here is the stuff</h1>


<table>
  <tr>
    <th>Title:</th>
    <th>Stuff:</th>
  </tr>

  <% @articles.each do |a| %>
    <tr>
      <td><%= a.title %></td>
      <td><%= a.text %></td>
      <td><%= link_to 'View Stuff', article_path(a) %></td>
      <td><%= link_to 'Edit Stuff', edit_article_path(a) %></td>
      <td><%= link_to 'Delete Stuff', article_path(a),
              method: :delete,
              data: { confirm: 'Really want to delete it?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add Stuff', new_article_path %>
