<p>
  <strong>Stuff Called:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Here is the stuff:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Have something to say about stuff?</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit the Stuff?', edit_article_path(@article) %>
<%= link_to 'Back to All Stuff', articles_path %>
